/* Links */
a { text-decoration: none;
    color: black; }
a:hover { text-decoration: underline;
          color: black; }
a:visited { text-decoration: none;
            color: black; }
body {  font: 10pt Tahoma;
        width: 15em;
        margin: 0em; }

/* Reset */
p { margin: 0 0 0.6em 0; }

/* Content */
.header { margin: 0em;
          padding: .5em .5em .5em .5em;
          font-weight: bold;
          color: white;
          background-color: black; }

.contact {  float: right;
            font-size: 0.8em;}

.contact > a { color: white; }

.contact > a:hover { color: white; }

.content { padding: .5em .5em .5em .5em; }

.detail-text { font-size: 0.7em;
               color: grey; }

#blockSettingsIcon { font-size: 1.2em; }

#blockSettingsIcon:hover, #blockSettingsStatus:hover { color: white; }
